<% content_for :head do %>
  <title>Shopify Metrics - Trial ended</title>
<% end %>
<div class="main-wrapper">
  <h1>Thanks for trying out Shopify Metrics!</h1>
  <h3 class="light">Unfortunately, your trial period has ended.</h3>
  <form class="text-center">
    <p>Don't worry, your data and account won't be deleted.</p>
    <p>If you wish to keep using Shopify Metrics, please submit your payment now.</p>
    <p><i>You will pay with your Shopify account</i></p>
    <a href="/payment/create" data-method="post" class="button">Pay Now</a>
  </form>

</div>