<% content_for :head do %>
  <title>Shopify Metrics - Ecommerce analytics and metrics for Shopify stores</title>
<% end %>
<div class="main-wrapper">
	<h1>Ecommerce analytics and metrics for Shopify</h1>
	<h3>With one click you get dozens of valuable metrics and KPIs from your Shopify store</h3>
	<div class="cta">
	<%= link_to "Try it out for free", new_user_registration_path, class: "button" %>
	</div>
	<img src="<%= image_url("preview.jpg") %>">
</div>