<% content_for :head do %>
  <title>Shopify Metrics - Internal server error</title>
<% end %>
<div class="main-wrapper vertical_center">
  <h1>Opps! Something happened.</h1>
  <h3>It seems like we have an internal error.</h3>
  <div class="cta">
    <%= link_to "Go back home", root_path, class: "button" %>
  </div>
</div>
