<% content_for :head do %>
  <title>Shopify Metrics - Page not found</title>
<% end %>
<div class="main-wrapper vertical_center">
  <h1>It seems like you're in the wrong place.</h1>
  <h3>The page you're looking for couldn't be found.</h3>
  <div class="cta">
    <%= link_to "Go back home", root_path, class: "button" %>
  </div>
</div>
