<% content_for :head do %>
  <title>Shopify Metrics - Exporting data</title>
<% end %>
<div class="main-wrapper">
  <h1>Your Shopify store was linked successfully!</h1>
  <div class="white-wrapper">
    <h3 class="light">We're now exporting data from your store.</h3>
    <p>This may take a while depending on how big your store is.</p>
    <p>Please check back later and feel free to close this window.</p>
    <div class="spinner-grey">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>


</div>
<script type="text/javascript">
  setTimeout(function(){
   window.location.reload(1);
}, 10000);
</script>